.header__menu-item {
  font-family: 'Gilroy-Semibold';
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  cursor: pointer;
}

.header__menu-item a:hover {
  border-bottom: 2px solid #ffff;
}
