.main__button {
  width: 260px;
  height: 62px;
  border-radius: 8px;
  background: linear-gradient(135deg, rgb(218, 128, 35), rgb(226, 180, 56) 100%);
  color: rgb(25, 20, 17);
  font-family: 'Gilroy-Semibold';
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  outline: none;
  transition: opacity 0.3s ease;
  z-index: 100;
}

.main__button:hover {
  opacity: 0.7;
}
