.order__form {
  display: flex;
  flex-direction: column;
  width: 344px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: 102px;
  padding: 60px 40px;
  border: 1px solid rgb(53, 53, 53);
  border-radius: 16px;
  background: rgb(33, 26, 22);
}
