.order__form-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 344px;
  height: 62px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: rgb(226, 180, 56);
  font-family: "Gilroy-Semibold";
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  outline: none;
}

.order__form-input input {
  padding: 20px 10px;
  background: rgb(33, 26, 22);
  border-radius: 8px;
  width: 342px;
  height: 60px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid transparent;
  color: white;
}

.order__form-input.error {
  background: red;
}
