.header__button {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}
