<section class="content">
  <button
    id="scrollToTopButton"
    class="scrollToTopButton"
    (click)="scrollTo(header)"
  >
    <img src="../assets/img/arrow_up_icon.svg" alt="Scroll to Top" />
  </button>
  <header class="header" #header>
    <div class="header__container">
      <img
        src="../assets/img/Logo.png"
        class="header__logo"
        alt="логотип бургерной"
      />
      <nav class="header__menu">
        <ul class="header__menu-list">
          <li class="header__menu-item">
            <a (click)="scrollTo(why)">Почему у нас</a>
          </li>
          <li class="header__menu-item">
            <a (click)="scrollTo(products)">Меню бургеров</a>
          </li>
          <li class="header__menu-item">
            <a (click)="scrollTo(order)">Оформление заказа</a>
          </li>
        </ul>
      </nav>
      <div
        id="change-currency"
        class="header__button"
        title="Изменить валюту"
        (click)="changeCurrency()"
      >
        {{ currency }}
      </div>
    </div>
  </header>
  <section class="main">
    <div class="main__container">
      <span class="main__promo">Новое меню</span>
      <h1 class="main__title">бургер чеддер</h1>
      <p class="main__text">
        Мы обновили наше меню, спешите попробовать сезонные новинки и
        насладиться отличным вкусом наших бургеров. Готовим для вас лучшие
        бургеры в городе из отборной мраморной говядины.
      </p>
      <div class="main__action">
        <button
          class="main__button"
          id="main__action-button"
          (click)="scrollTo(products)"
        >
          Смотреть меню
        </button>
      </div>
    </div>
    <img
      src="../assets/img/main_burger.png"
      class="main__image"
      alt="изображение вкусного бургера"
    />
  </section>
</section>

<section class="why" id="why" #why>
  <div class="why__container">
    <h2 class="why__title">почему нас выбирают?</h2>
    <div class="why__info">
      <div class="why__infoItem">
        <img
          src="../assets/img/why__burger.png"
          class="why-infoItem-image"
          alt="бургер"
        />
        <h3 class="why__infoItem-title">Авторские рецепты</h3>
        <p class="why__infoItem-text">
          Наши бургеры обладают уникальным сочетанием вкусов и не похожи
          ни на какие другие. Мы тщательно отбираем лучшие ингредиенты
          и сочетания вкусов для нашего меню.
        </p>
      </div>
      <div class="why__infoItem">
        <img
          src="../assets/img/why__meat.png"
          class="why-infoItem-image"
          alt="кусок мяса"
        />
        <h3 class="why__infoItem-title">Мраморная говядина</h3>
        <p class="why__infoItem-text">
          Для наших бургеров мы используем отборную 100% мраморную говядину,
          которую закупаем исключительно у фермеров. Мы уверены в качестве
          нашего мяса.
        </p>
      </div>
      <div class="why__infoItem">
        <img
          src="../assets/img/why__delivery.png"
          class="why-infoItem-image"
          alt="фургончик с доставкой"
        />
        <h3 class="why__infoItem-title">Быстрая доставка</h3>
        <p class="why__infoItem-text">
          Мы доставляем в пределах МКАД за 30 минут, а если не успеем — доставка
          бесплатно. Мы тщательно упаковываем наши бургеры, чтобы по дороге они
          не остыли.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="products" id="products" #products>
  <div class="products__container">
    <h2 class="products__title">выберите свой бургер</h2>
    <div class="products__cards">
      <div class="products__cardItem" *ngFor="let product of productsData">
        <img
          src="../assets/img/{{ product.image }}"
          class="products__cardItem-image"
          alt="Бургер"
        />
        <h3 class="products__cardItem-title">{{ product.title }}</h3>
        <p class="products__cardItem-text">
          {{ product.text }}
        </p>
        <div class="products__cardItem-container">
          <div class="products__cardItem-specification">
            <p class="products__cardItem-price">
              {{ product.price }} {{ currency }}
            </p>
            <p class="products__cardItem-weight">{{ product.grams }} гр</p>
          </div>
          <div class="products__action">
            <button
              class="products__cardItem-button"
              (click)="scrollTo(order, product)"
            >
              <p>Заказать</p>
              <img src="../assets/img/product__buy_icon.png" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="order" id="order" #order>
  <div class="order__container">
    <h2 class="order__title">оформление заказа</h2>
    <img
      src="../assets/img/order_image.png"
      class="order__image"
      alt="бургер в коробке"
    />
    <form class="order__form">
      <p class="order__form-text">
        Заполните все данные и наш менеджер свяжется с вами для подтверждения
        заказа
      </p>
      <div class="order__form-inputs" [formGroup]="form">
        <div
          class="order__form-input"
          [class]="{
            error:
              form.get('order')?.invalid &&
              (form.get('order')?.dirty || form.get('order')?.touched)
          }"
        >
          <input
            id="burger"
            placeholder="Выберите товар в списке"
            formControlName="order"
            readonly
          />
        </div>
        <div
          class="order__form-input"
          [class]="{
            error:
              form.get('name')?.invalid &&
              (form.get('name')?.dirty || form.get('name')?.touched)
          }"
        >
          <input
            id="customerName"
            placeholder="Ваше имя"
            formControlName="name"
          />
        </div>
        <div
          class="order__form-input"
          [class]="{
            error:
              form.get('phone')?.invalid &&
              (form.get('phone')?.dirty || form.get('phone')?.touched)
          }"
        >
          <input id="phone" placeholder="Ваш телефон" formControlName="phone" />
        </div>
        <button
          class="order__form-button"
          id="order__action"
          type="button"
          (click)="confirmOrder()"
          [disabled]="!form.valid"
        >
          Оформить заказ
        </button>
      </div>
    </form>
  </div>
</section>
<footer class="footer">
  <img src="../assets/img/Logo.png" />
  <a
    class="footer__author"
    href="https://github.com/EvgenyZaryanov"
    target="_blank"
    >Разработчик: <span class="footer__link">Евгений Зарянов</span></a
  >
  <p class="footer__copyright">Все права защищены</p>
</footer>
