.main__promo {
  display: flex;
  width: 137px;
  height: 46px;
  align-items: center;
  justify-content: center;
  font-family: 'Gilroy-Semibold';
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  background: rgb(211, 50, 15);
  border-radius: 100px;
}
