.why__title {
  font-family: 'Merriweather-Black';
  font-size: 64px;
  font-weight: 900;
  line-height: 80px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
